In [5]:
list = ["Iin", "Ami", "Lisa", "Isna", "Darma"]
list[0] = "Elsa"
print(list)

['Elsa', 'Ami', 'Lisa', 'Isna', 'Darma']

In [3]:
tuple = ("Iin", "Ami", "Lisa", "Isna", "Darma")
print(tuple)

('Iin', 'Ami', 'Lisa', 'Isna', 'Darma')

In [4]:
set = {"Iin", "Ami", "Lisa", "Isna", "Darma"}
print(set)

{'Iin', 'Isna', 'Lisa', 'Darma', 'Ami'}

In [12]:
person = {"Nama": "Iin", "Kelas": "Tekom F 24"}
# print(person)
print(person["Nama"])

Iin

In [26]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [18]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [22]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [27]:
i = 1
while i <= 9:
    print(i)
    i += 2

1
3
5
7
9

In [35]:
i = 1
while i <= 13:
    if i == 7:
      print("WOW")
    else:
      print(i)
    i += 2

1
3
5
WOW
9
11
13

In [49]:
i = 1
while i <= 10:
    if i == 8:
      print("Mahasiswa")
    else:
      print(i)
    i += 1

1
2
3
4
5
6
7
Mahasiswa
9
10

In [41]:
i = 1
while i <= 34:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33

latsol 2
1
2
3
5
8
13
21
34

latsol 3