### PRAKTIKUM 10

#### 1) LIST

In [7]:
mahasiswa = ["Iin", "Darma", "Aca", "Lutfi"]
mahasiswa.append("Elsa")
mahasiswa.insert(3, "Ami")
mahasiswa.pop()
mahasiswa.sort(reverse=True)
mahasiswa.remove("Aca")

i = 1

for nama in mahasiswa:
    print("Nama Mahasiswa ke -", i ,": ", nama)
    i += 1

print(mahasiswa)

Nama Mahasiswa ke - 1 :  Lutfi
Nama Mahasiswa ke - 2 :  Iin
Nama Mahasiswa ke - 3 :  Darma
Nama Mahasiswa ke - 4 :  Ami
['Lutfi', 'Iin', 'Darma', 'Ami']

##### Analisis

Kode ini menunjukkan bagaimana cara mengubah isi list di Python. Program menambah nama “Elsa”, lalu menyisipkan “Ami” di posisi ke-3. Setelah itu, elemen terakhir dihapus menggunakan pop(). Data kemudian diurutkan dari huruf terbesar ke terkecil dengan sort(reverse=True), dan nama “Aca” dihapus memakai remove(). Bagian perulangan digunakan untuk menampilkan seluruh nama mahasiswa satu per satu dengan penomoran otomatis. Pada akhirnya, list yang telah diperbarui ditampilkan sebagai hasil akhir.

In [8]:
mahasiswa = ["Iin", "Aca", "Ami", "Lutfi", "Adit"]
print(mahasiswa)

['Iin', 'Aca', 'Ami', 'Lutfi', 'Adit']

##### Analisis

Kode ini menyimpan beberapa nama mahasiswa ke dalam list. Saat program dijalankan, semua nama di dalam list ditampilkan dalam satu baris sesuai urutan yang sudah ditentukan.

#### 2) WHILE LOOP

In [1]:
i = 1
while i <= 13:
    if i == 7:
        print("WOW")
    else:
        print(i)
    i += 2

1
3
5
WOW
9
11
13

##### Analisis

Kode ini memakai perulangan while untuk menampilkan bilangan ganjil dari 1 sampai 13. Setiap kali loop dijalankan, nilai i naik dua. Ketika mencapai angka 7, program menampilkan kata “WOW” sebagai pengganti angka tersebut. Setelah itu, loop berlanjut hingga batas akhir terpenuhi.

In [6]:
i = 0
while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

##### Analisis

Kode ini menampilkan angka dari 0 sampai 5 dengan bantuan perulangan while. Selama nilai i belum lebih besar dari 5, program akan mencetak nilainya lalu menambahkannya satu per satu. Setelah i mencapai 6, kondisi while menjadi salah sehingga perulangan berhenti.

#### 3) SET

In [9]:
mahasiswa = {"Aca", "Lutfi", "Ami", "Iin", "Iin", "Elsa"}
mahasiswa [0] = "Adit"
print(mahasiswa)

TypeError: 'set' object does not support item assignment

##### Analisis

Kode program tersebut menampilkan pesan error karena Python mengenali data mahasiswa sebagai set, bukan daftar (list). Berbeda dengan list, set tidak memiliki urutan atau indeks, sehingga elemennya tidak bisa diakses satu per satu menggunakan angka indeks. Ketika perintah mahasiswa[0] = "Adit" dijalankan, Python menolak karena operasi semacam itu tidak berlaku pada set.

#### 4) DICTIONARY

In [11]:
person = {"name": "Nur Insyirah AR", "Hp": "9418", "Kelas": "TEKOM F"}
print(person)

{'name': 'Nur Insyirah AR', 'Hp': '9418', 'Kelas': 'TEKOM F'}

##### Analisis

Kode ini membuat data seseorang dalam bentuk dictionary. Di dalamnya terdapat tiga data, yaitu nama, nomor HP, dan kelas. Ketika print(person) dijalankan, Python akan menampilkan seluruh isi dictionary dalam satu baris.

In [12]:
person = {"name": "Nur Insyirah AR", "Hp": "9418", "Kelas": "TEKOM F"}
for key, value in person.items():
    print(key, ":", value)

name : Nur Insyirah AR
Hp : 9418
Kelas : TEKOM F

##### Analisis

Kode ini menyimpan data seseorang dalam dictionary person, lalu menampilkan isinya satu per satu menggunakan perulangan for. Fungsi items() digunakan agar program bisa mengambil setiap pasangan key dan value dari dictionary. Saat dijalankan, program akan mencetak nama atribut (key) dan isinya (value) dalam baris terpisah.

#### 5) FOR LOOP

In [7]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

##### Analisis

Kode ini menampilkan urutan angka dari 0 sampai 9. Fungsi range(10) menentukan bahwa perulangan berhenti sebelum mencapai 10, dan perulangan for akan mencetak satu angka setiap kali loop berjalan hingga selesai.

In [8]:
for i in range(1,6):
  print(i)

1
2
3
4
5

##### Analisis

Kode ini menampilkan angka 1 sampai 5 secara berurutan. Fungsi range(1,6) menentukan bahwa perulangan dimulai dari angka 1 dan berhenti sebelum mencapai 6. Setiap angka dicetak satu per satu menggunakan print().

In [9]:
for i in range(5,10):
  print(i)

5
6
7
8
9

##### Analisis

Kode ini menampilkan angka 5 sampai 9 secara berurutan. Fungsi range(5,10) menentukan bahwa perulangan dimulai dari angka 5 dan berhenti sebelum mencapai 10. Setiap angka dicetak satu per satu menggunakan print().

### 6) TUPLE

In [13]:
Mahasiswa = ("Apple", "Banana", "Cherry")
print(type(Mahasiswa))

<class 'tuple'>

##### Analisis

Kode ini membuat kumpulan data yang disimpan dalam variabel Mahasiswa dengan tiga nilai berbeda. Karena menggunakan tanda kurung biasa, data tersebut termasuk tipe tuple. Saat dicetak menggunakan print(type(Mahasiswa)), Python akan menampilkan bahwa tipe datanya adalah tuple.

#### LANJUTAN LIST

In [14]:
thislist = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Melon", "Mango"]
print(thislist[2:3])

['Cherry']

##### Analisis

Kode ini membuat list berisi beberapa nama buah, lalu menampilkan sebagian datanya menggunakan teknik slicing. Potongan [2:3] berarti mengambil elemen dari indeks 2 sampai sebelum 3, sehingga hasil yang ditampilkan adalah ["Cherry"].

In [15]:
thislist = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Melon", "Mango"]
print(thislist[3:])

['Orange', 'Kiwi', 'Melon', 'Mango']

##### Analisis

Kode ini menyimpan beberapa nama buah di dalam list. Perintah [3:] berarti mengambil semua elemen mulai dari indeks ke-3 sampai elemen terakhir. Dengan begitu, hasil yang muncul di layar adalah ["Orange", "Kiwi", "Melon", "Mango"].

In [17]:
thislist = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Melon", "Mango"]
print(thislist[:])

['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Melon', 'Mango']

##### Analisis

Kode ini menyimpan beberapa nama buah di dalam list. Ketika program menuliskan [:], artinya Python menampilkan semua isi list dari awal sampai akhir tanpa menghilangkan satu pun elemen. Jadi hasil akhirnya sama seperti isi list aslinya.

In [18]:
thislist = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Melon", "Mango"]
print(thislist[1:3])

['Banana', 'Cherry']

##### Analasis

Kode di atas menyimpan beberapa nama buah dalam list. Saat Python membaca thislist[1:3], artinya hanya elemen mulai dari posisi kedua sampai sebelum posisi keempat yang akan ditampilkan. Karena indeks dihitung dari nol, maka hasilnya adalah "Banana" dan "Cherry".

#### LANJUTAN WHILE LOOP

In [14]:
i = 1
while i <= 9:
    print(i)
    i += 2

1
3
5
7
9

##### Analisis

Kode ini mencetak bilangan ganjil dari 1 sampai 9. Nilai i dimulai dari 1 dan setiap kali perulangan berjalan, nilainya bertambah 2. Perulangan berhenti ketika i lebih dari 9. Hasil akhirnya menampilkan angka 1, 3, 5, 7, dan 9 di layar.

In [15]:
i = 1
while i <= 13:
    if i == 7:
        print("WOW")
    else:
        print(i)
    i +=2

1
3
5
WOW
9
11
13

##### Analisis

Kode ini menampilkan deretan angka ganjil dari 1 sampai 13. Saat angka 7 muncul, program menggantinya dengan tulisan “WOW”. Setelah itu, perulangan tetap berlanjut hingga angka 13.

In [16]:
i = 1
while i <= 8:
    if i % 2 == 1:
        print("hidup")
    else:
        print("mahasiswa")
    i += 1

hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa
hidup
mahasiswa

##### Anaisis

Kode ini membuat tulisan “hidup” dan “mahasiswa” muncul secara selang-seling. Nilai i dimulai dari 1 dan naik terus hingga 8. Jika i ganjil, Python menulis “hidup”; kalau genap, Python menulis “mahasiswa”. Hasil akhirnya menampilkan pola hidup–mahasiswa secara bergantian.

#### LANJUTAN FOR LOOP

In [17]:
for i in range(1, 14):
    print(i)
    if i % 3 == 2:  
        print("Ha")

1
2
Ha
3
4
5
Ha
6
7
8
Ha
9
10
11
Ha
12
13

##### Analisis

Kode ini menampilkan angka dari 1 sampai 13 secara berurutan. Setelah mencetak setiap angka, program memeriksa apakah angka tersebut memiliki sisa 2 jika dibagi 3. Kalau iya, maka tulisan “Ha” ditampilkan tepat setelahnya. Akibatnya, kata “Ha” muncul di bawah angka 2, 5, 8, dan 11.

In [19]:
for i in range(1, 14):
    if i % 3 == 0:
        continue
    print(i)
    if i % 3 == 2:
        print("Ha")
    if i % 6 == 4:
        print("Hi")

1
2
Ha
4
Hi
5
Ha
7
8
Ha
10
Hi
11
Ha
13

##### Analisis

Kode ini menampilkan angka dari 1 sampai 13, tapi melewatkan angka yang bisa dibagi 3. Setelah itu, setiap kali angka memiliki sisa 2 saat dibagi 3, program menulis “Ha”. Kalau angkanya punya sisa 4 saat dibagi 6, program menulis “Hi”. Jadi “Ha” muncul di 2, 5, 8, dan 11, sedangkan “Hi” di 4 dan 10.